@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;0,900;1,300&display=swap');
html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

.App{
    background-color: #FAE2E5;
}
